langchain==1.3.13
langchain-classic
langchain-community==0.4.2
langchain-core
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
transformers
accelerate
torch
rank_bm25
pypdf
datasets
streamlit
